:root{
    --background-color : #000;
    --text-color : #fff;
    --card-1-color : #0a0a0a;
    --text-color-1 : #aaa;
    --primary-gradient : linear-gradient(to right, #00DB99, #08BD58);
    --primary-color : #00DB99;

}

