/* :root{
    --background-color : #000;
    --text-color : #fff;
    --card-1-color : #303030;
    --text-color-1 : #aaa;
    --primary-gradient : linear-gradient(to right, #db7c00, #bd8d08);
    --primary-color : #db6a00;

} */
:root{
    --background-color : #fff;
    --text-color : #000;
    --card-1-color : #91CCF4;
    --text-color-1 : #303030;
    --primary-text-color : #5CA2D5;
    --primary-gradient : linear-gradient(to right, #db7c00, #bd8d08);
    --primary-color : #5CA2D5;
    --primary-color-2: #F3D24F;
    --primary-color-3: #F68887;

}
