:root{
    --background-color : #000;
    --text-color : #fff;
    --card-1-color : #303030;
    --text-color-1 : #aaa;
    --primary-gradient : linear-gradient(to right, #db7c00, #bd8d08);
    --primary-color : #db6a00;

}

